[Unit]
Description=Save clock on shutdown
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/touch /var/lib/systemd/timesync/clock
RemainAfterExit=yes

[Install]
WantedBy=halt.target reboot.target shutdown.target
